node_modules
.next
out
dist
.env
.env.local
.env.*.local
*.log
.DS_Store
.vercel
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
prisma/migrations/dev.db*
.idea
coverage

.vercel

# TS incremental cache
tsconfig.tsbuildinfo
*.tsbuildinfo
